:root {
    --bg-gradient: linear-gradient(#000, #260227, #0e0c2d);
    --branco: #fff;
    --text-primary: #c9d1d9;
    --text-secundary: #8b949e;
    --bg-input: #30363d;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
}

header {
    height: 6vh;
    color: var(--branco);
    margin-top: 50px;
}

h1 {
    font-weight: 500;
}

body {
    background-image: var(--bg-gradient);
    animation: animarGradiente 5s ease-in-out infinite; 
    background-size: 100% 300%;
}

@keyframes animarGradiente {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

h2 {
    color: var(--text-primary);
    margin: 30px;
    font-size: 1.2rem;
    font-weight: 200;
}

.content {
    display: flex;
    color: var(--text-secundary);
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 10px;
    padding: 10px;
}

#trfa {
    padding: 10px 15px;
    color: var(--text-secundary);
    background-color: var(--bg-input);
    border: none;
    border-radius: 25px;
    margin: 0;
    height: 40px;
    width: 240px;
    max-width: 100%;
}

#trfa:focus {
    border: none;
}

.input-conteiner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    position: relative;
}

#bot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 4px;
}

#bot img {
    width: 100%;
    object-fit: cover;
}

h3 {
    color: var(--branco);
    font-weight: 400;
    margin: 10px;
}

ul#lista {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 20px;
    list-style: none;
    margin: none;
}

#lista li {
    height: 7vh;
    padding: 10px;
    width: 90%;
    margin: 0 20px;
    border-radius: 25px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-input);
    color: var(--branco);
}

.remover {
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.remover img {
    max-width: 30px;
}

input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: var(--text-secundary);
}

input[type="checkbox"] {
    margin: 10px;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--branco);
    border-radius: 10px;
    border: 2px solid #000;
    cursor: pointer;
}

input[type="checkbox"]:checked {
   background-color: green;
}

input[type="checkbox"]:checked::before {
    content: '✓';
    color: var(--branco);
    width: 20px;
    height: 20px;
}

span {
    font-size: 1.2rem;
}

#limpar {
    display: flex;
    align-items: center;
    width: 100%;
}

#limp {
    padding: 10px 15px;
    border: none;
    background-color: var(--bg-input);
    color: var(--branco);
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    margin: 20px;
}

#limp:hover {
    background-color: var(--branco);
    color: #000;
}